/***************** Title *****************/
body {
  font-family: Montserrat;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

#title {
  text-align: left;
}

.container-fluid {
  padding: 3% 15%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading   {
  font-size: 3rem;
  line-height: 1.5;
}

.iphone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .iphone {
    position: static;
    transform: rotate(0);
  }
}

/***************** Nav bar *****************/
.navbar {
  margin: auto 15%;
  padding: 2rem 0 3rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: lighter;
}

/***************** Features *****************/
#features {
  position: relative;
}

.feats {
  padding: 7% 0;
}

.icos {
  font-size: 4rem;
  color: #ef8172;
  padding-bottom: 5%;
}

.icos:hover {
  color: #ff4c68;
}

.fet-desc {
  font-size: 1.2rem;
}

/***************** Testimonials *****************/
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/***************** Pricing *****************/
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/***************** Footer *****************/
.ico {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 20px;
}

.ico:hover {
  color: #ff4c68;
  text-decoration: none;
}
